.wrapper-message-block {
  background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 15px;
  border-radius: 25px;
  border: -10px solid #000000;
}

#blink2 {
  -webkit-animation: blink2 1s linear infinite;
  animation: blink2 1s linear infinite;
}
@-webkit-keyframes blink2 {
  100% { color: rgba(34, 34, 34, 0); }
}
@keyframes blink2 {
  100% { color: rgba(34, 34, 34, 0); }
}